$heading-color: black;
$heading-font-size: 18px;
$marked-link-color: #52C41A;
$heading-color-hover: rgb(58, 58, 58);
$marked-link-color-hover: #65da2a;
$logoutButton-color: #000000BF;
$logoutButton-hover: #000000;

header {
    margin-bottom: 26px;
    width: 100%;
    height: 80px;
    font-family: 'Inter', sans-serif;
    background-color: white;
    font-size: $heading-font-size;
    padding: 22px;
    display: flex;
    align-items: center;

    :first-child {
        flex-grow: 2;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $heading-color;
        transition: all ease-in .2s;

        &:hover {
            color: $heading-color-hover;
        }
    }

    .username {
        margin-right: 13px;
        font-size: 18px;
    }

    .avatar {
        width: 46px
    }

    .signUpButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 109px;
        height: 51px;
        color: $marked-link-color;
        margin-left: 20px;
        border: 1px solid $marked-link-color;
        border-radius: 5px;

        &:hover {
            color: $marked-link-color-hover;
            border-color: $marked-link-color-hover;
        }
    }

    .logOutButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 109px;
        height: 51px;
        color: $logoutButton-color;
        font-size: 18px;
        margin-left: 20px;
        border: 1px solid $logoutButton-color;
        border-radius: 5px;
        background: none;
        cursor: pointer;

        &:hover {
            color: $logoutButton-hover;
            border-color: $logoutButton-hover;
        }
    }
}