.formWrapper {
    max-width: 384px;
    min-height: 599px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
    padding: 48px 32px;


    .header {
        margin: 0 auto;
        color: #262626;
        width: 100%;
        text-align: center;
        margin-bottom: 21px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }

    span {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    input {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        height: 40px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        padding: 8px 12px;

        &:focus {
            outline: none;
            border: 1px solid #979797
        }
    }

    .agreement {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-top: 1px solid #E8E8E8;
        padding-top: 8px;
        margin-bottom: 21px;

        input[type="checkbox"] {
            display: inline;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            margin-top: 0;
        }

        span {
            display: inline-block;
            width: 254px;
            color: #595959
        }
    }

    .submitButton {
        background-color: #1890FF;
        border: none;
        color: white;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;

        &:hover {
            background-color: #237dd1
        }
    }

    .signInLink {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #8C8C8C;

        a {
            color: #1890FF
        }

        a:hover {
            color: #237dd1
        }
    }

    .error {
        margin-top: -12px;
        margin-bottom: 12px;
        color: #F5222D;
        font-size: 14px;
    }

    .borderError {
        border: 1px solid red;

        &:focus {
            border: 1px solid rgb(252, 167, 167);
        }
    }
}