@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$app-background: #EBEEF3;

*,
:root {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    background-color: $app-background;
}

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
    padding-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}